body{
background-color: black;
align-items: center;
justify-content: center;
margin: 0;
border: 0;
}
header{
    z-index: 10000;
    display: flex;
    position: fixed;
    background: transparent;
    top: 0;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.logo{
    padding-left: 50px;
    padding-top: 10px;
    
}

.menu-lista{
    text-align: left;
    gap: 10%;
    display: flex;

}
.topico{
    width: 160px;
    height: 55px;
    font-family: 'Anonymous Pro', monospace;
    background: transparent;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 17px;
}

.topico:hover{
    background-color: white;
    color: black !important;
}
nav{
    padding-top: 10px;
    padding-right: 350px;
}
.img-centro{
    align-items: center;
    justify-content: center;
}
.img-principal{
    position: relative;
    left: 3%;
}
.preto-opaco {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.25;
  z-index: 2;
}
.titulo{
  position: absolute;
  font-family: 'JetBrains Mono', monospace;
  top: 200px;
  left: 13%;
  z-index: 3;
  width: 100%;
}
.conteiner{
    z-index: 1;
  position: relative;
  width: 100%;
  overflow: hidden;}
.func {
    margin-left: 10%;
    color: #59d113;
    }

.par {
    color: #c678dd;
    }

.texto {
    color: #e6db74;
    }

.barra {
    color: #a100d6;
    }

.titulo p {
        display: inline-block;
        font-size: 120px;
        color: #ece5c5;
        max-width: 100%; }

main{
    font-family: 'EB Garamond', serif;
    text-align: center;
    position: relative;
    z-index: 1000;
    color: #F3F4F4;
    width: 100%;
    height: 100%;
}
.intro{
    color: #F3F4F4;
    gap: 50px;
    padding-left: 20%;
    padding-right: 20%;
    display: flex;
    text-align: center;
}
.intro h1{
    font-size: 100px;
    margin: 0;
}
.intro p{
    font-size: 20px;
}
.curso1{
    margin: 0;
    height: 100%;
    background-color: #F3F4F4 ;
    color: #1E1E1E;
    display: flex;
    padding-left: 5%;
    padding-right: 5%;
    gap: 40px;
}
.curso1 p{
    font-size: 20px;
}
.curso1 img{
    margin: 10px;
}
.curso2{
     margin: 0;
    height: 100%;
    color: #F3F4F4;
    display: flex;
    padding-left: 5%;
    padding-right: 5%;
    gap: 40px;

}
.curso2 p{
    font-size: 20px;
}
.curso2 img{
    margin: 10px; }
.curso3{
        margin: 0;
    height: 100%;
    background-color: #F3F4F4 ;
    color: #1E1E1E;
    display: flex;
    padding-left: 5%;
    padding-right: 5%;
    gap: 40px;

}
.curso4e5{
    display: flex;
    padding: 5%;
    gap: 60px;
}

.quiz{
    text-align: center;
    color: #F3F4F4;
    padding: 50px;
    justify-content: center;
    display: flex;
    flex-direction: column;


}
.quiz h1{
    background-color: #F3F4F4;
    width: 240px;
    height: 60px;
    color: #1E1E1E;
    margin: auto;
    line-height: 60px;
    font-size: 35px;
}
.quiz button{
    width: 150px;
    height: 40px;
    margin: auto;
    font-size: 17px;
    color: rgb(0, 0, 0);
    border: none;
    cursor: pointer;
}

.quiz button:hover{
    background-color: aqua;
    color: white;

}
.final{
padding-left: 20% ;
padding-right: 20%;
}
