body {
    background-color: #A2F286;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

.cadastro {
    background-color: #D9D9D9;
    border: 2px solid black;
    padding: 30px;
    width: 320px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
}

.cadastro h1 {
    text-align: center;
    margin-bottom: 20px;
}

.cadastro label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.cadastro input[type="text"],
.cadastro input[type="password"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #888;
    border-radius: 4px;
    box-sizing: border-box;
}

.cadastro input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.cadastro input[type="submit"]:hover {
    background-color: #45a049;
}
.cadastro {
    position: relative; /* necessário para posicionar o ícone dentro */
    background-color: #D9D9D9;
    border: 2px solid black;
    padding: 30px;
    width: 320px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
}

.icon {
    position: absolute;
    top: 20px;
    right: 15px;
    width: 60px;  /* ajuste conforme necessário */
    height: 60px;
}
body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
   background-image: url('./site/imagens/fundo.png');

    background-size: cover;
    background-position: center;
    opacity: 0.3;
    z-index: -1;
}
/* Estilo escuro */
.dark-mode {
  background-color: #121212;
  color: white;
}

/* Exemplo de elementos que você pode querer escurecer também */
.dark-mode .sidebar {
  background-color: #1e1e1e;
}

.dark-mode .main-content {
  background-color: #1e1e1e;
}

.dark-mode h1, 
.dark-mode h2, 
.dark-mode li {
  color: #ffffff;
}
