 body {
      margin: 0;
      font-family: 'Georgia', serif;
      background-color: #C9F4C9;
    }
    header {
      display: flex;
      align-items: center;
      padding: 20px;
    }
    header img {
      height: 40px;
      margin-right: 10px;
    }
    header h1 {
      font-size: 24px;
    }
    .container {
      display: flex;
    }
    .sidebar {
      width: 220px;
      background-color: #99EF89;
      padding: 20px;
    }
    .sidebar ul {
      list-style: none;
      padding: 0;
    }
    .sidebar li {
      margin-bottom: 15px;
    }
    .sidebar a {
      text-decoration: none;
      color: black;
    }
    .main-content {
      flex-grow: 1;
      padding: 40px;
    }
    .main-content h2 {
      font-size: 28px;
      margin-bottom: 30px;
    }
    .account {
      margin-bottom: 20px;
      display: flex;
      align-items: center;
    }
    .account img.icon {
      height: 20px;
      margin-left: 10px;
      cursor: pointer;
    }
    .account span {
      margin-left: 10px;
      color: #333;
    }
    .footer-button {
      position: absolute;
      bottom: 20px;
      right: 20px;
    }
    .footer-button button {
      background-color: white;
      border: 1px solid #000;
      padding: 5px 15px;
      border-radius: 5px;
      cursor: pointer;
    }

    a {
        text-decoration: none;
        color: black;
    }
    /* Estilo escuro */
.dark-mode {
  background-color: #121212;
  color: white;
}

/* Exemplo de elementos que você pode querer escurecer também */
.dark-mode .sidebar {
  background-color: #1e1e1e;
}

.dark-mode .main-content {
  background-color: #1e1e1e;
}

.dark-mode h1, 
.dark-mode h2, 
.dark-mode li {
  color: #ffffff;
}
