body {
  background-color: #CEF2C1;
  display: flex;
  justify-content: center; 
  align-items: center; 
  min-height: 100vh; 
  margin: 0;
  flex-direction: column;
}

.recicladores {
  background-color: #D9D9D9;
  border: 2px solid black;
  margin: 2px;
  padding: 10px;
  width: 450px;
}

.recicladores p {
  background-color: #C3BFBF;
  border: 2px solid black;
  margin: 2px;
  padding: 10px;
  width: 420px;
}

.busca input { 
  margin: 10px;
  margin-left: 40px;
  padding: 10px 15px;
  padding-right: 45px; 
  border: 2px solid #ccc;
  border-radius: 10px;
  font-size: 16px;
  outline: none;
  width: 445px; 
  opacity: 0.7;
  box-sizing: border-box; 
  justify-content: center;
}

.busca input:hover {
  border-color: #007bff;
  transition: transform 0.3s ease;
  opacity: 1;
  }

.busca img {
  position: relative; 
  top: 18px;
  right: 55px;
  transform: translateY(-50%); 
  width: 24px; 
  height: 24px; 
  cursor: pointer; 
  opacity: 0.8;
  transition: opacity 0.3s ease;
  }

 .busca img:hover {
  opacity: 1;
  }

.filtro img {
  position: relative; 
  top: 100px;
  left: 280px;
  transform: translateY(-50%); 
  width: 44px; 
  height: 44px; 
  cursor: pointer; 
  opacity: 0.8;
  transition: opacity 0.3s ease;

}

.filtro img:hover {
  opacity: 1;
  }

.aba img {
  position: relative; 
  top: 55px;
  right: 500px;
  transform: translateY(-50%); 
  width: 44px; 
  height: 44px; 
  cursor: pointer; 
  opacity: 0.8;
  transition: opacity 0.3s ease;
}

.aba img:hover {
  opacity: 1;
  }

.logo img{
    position: absolute;
    top: 180px; 
    left: 400px;
    transform: translateY(-50%); 
    width: 150px; 
    height: 150px; 
    opacity: 0.8;
    transition: opacity 0.3s ease;
}
.aba_box {
      position: absolute;
      top: 350px;
      left: 230px;
      background-color: #96F993;
      border: 1px solid #000;
      padding: 10px 0;
      width: 200px;
      opacity: 0.95;
      z-index: 100;
    }

    .menu-item {
      display: flex;
      align-items: center;
      padding: 10px 20px;
      color: #000;
      font-size: 16px;
      border-left: 5px solid transparent;
      cursor: pointer;
    }

    .menu-item:hover {
      background-color: #C1FFC0;
      border-left: 5px solid #494949;
      
    }
    
    .menu-item img {
      margin-right: 10px;
      width: 20px;
      height: 20px;
    }
    body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
   background-image: url('imagens/fundo.png');
    background-size: cover;
    background-position: center;
    opacity: 0.1; 
    z-index: -1;
}
  
a {
  text-decoration: none;
  color: black;
}
/* Estilo escuro */
.dark-mode {
  background-color: #121212;
  color: #A2F286;
}

/* Exemplo de elementos que você pode querer escurecer também */
.dark-mode .sidebar {
  background-color: #1e1e1e;
}

.dark-mode .main-content {
  background-color: #1e1e1e;
}

.dark-mode h1, 
.dark-mode h2, 
.dark-mode li {
  color: black;
}
